body {
    background-color: rgb(255, 255, 255);
}

.form-control {
    background-color: #ffffff;
    color: #030303 !important;
    padding: 10px 20px;
    border: 2px solid #030303;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    display: block;
    margin-bottom: 0px;
}

.btn-custom {
    border: 2px solid #000000 !important;
    background: linear-gradient(to right, #C5ADC5, #B2B5E0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    transition: background 0.3s ease, border 0.3s ease;
    /* Transição suave */
}

.btn-custom:hover {
    background: linear-gradient(to right, #B2B5E0, #C5ADC5);
    color: black;
    border: 2px solid #000000 !important;
}

h2 {
    color: #000000;
    margin-left: 5px;
}

p {
    color: #464646;
    margin-left: 5px;
    margin-top: 0px;
}

#logs {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    height: 100px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: #030303;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 15% auto;
    text-align: center;
}

.fechar {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.funcionamento-container-custom {
    background: linear-gradient(to right, #C5ADC5, #B2B5E0);
    color: #000000;
    position: relative;
    height: auto;
    padding: 20px;
    margin-top: 20px;
    z-index: 1000;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.funcionamento {
    font-size: 20px;
    margin-bottom: 10px;
}

.funcionamento-container p {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
}

.funcionamento-container ul {
    color: #000000;
    list-style-type: none;
    padding-left: 0;
    list-style-type: disc;
    padding-left: 20px;
}

.funcionamento-container li {
    color: #000000;
    font-size: 16px;
    padding-left: 10px;
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    /* Cor de fundo do spinner */
    border-top: 4px solid #3498db;
    /* Cor da borda superior (para o efeito de rotação) */
    border-radius: 50%;
    /* Faz o círculo */
    width: 50px;
    /* Largura do spinner */
    height: 50px;
    /* Altura do spinner */
    animation: spin 2s linear infinite;
    /* Animação de rotação */

    /* Não precisa de centralização aqui, pois o #loading já faz isso */
}

#loading {
    position: fixed;
    /* Fixar na tela */
    top: 50%;
    /* Centralizar verticalmente */
    left: 50%;
    /* Centralizar horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajustar para que o centro fique no meio da tela */
    background-color: rgba(255, 255, 255, 0.5);
    /* Fundo semi-transparente */
    display: none;
    /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Para garantir que o loading fique sobre outros elementos */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 576px) {
    .btn-custom {
        width: auto;
    }
}

#download-container {
    border: 2px solid #030303 !important;
    margin-top: 20px;
    text-align: center;
    /* Centraliza o conteúdo */
}

#download-link {
    text-decoration: none;
    /* Remover a decoração do link */
}